body {
    background-image: url(../assets/seul.jpg);
    background-size: cover;
}

.name-txt {
    border-radius: 10px;
}

.color-inpu {
    border: 0;
}

button {
    border-radius: 10px;
    height: 30px;
    outline-color: transparent;
}

button:hover {
    background-color: #367ead;
    transition: 0.2;
    border-color: #367ead;
    color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.ali-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 90vh;
    /* border: 3px solid white; */
    border-radius: 20px;
}

.color-text {
    color: white;
}

.window-bordered {
    padding: 10px;
    height: 140px;
    width: 506px;

    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
}

.ali {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.line-translucid {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ficha {
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
}

p {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 120px;
    margin: 30px;
    margin-top: 120px;


    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
}

