.name {
    text-align: center;
    /* vertical-align: middle; NAO PEGA*/
    color: white;
    background-color: red;
    border-color: green;
    border-radius: 200px;
    border-width: 2px;
    border-style: solid;
}

body {
    background-image: url(../assets/fundo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}